* {
    font-family: Arial, Helvetica, sans-serif;
} 
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    background-color: #efefef;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
.container-cards {
    display: flex;
    justify-content: center;
} 
.card {
    border: 2px solid #1C6EA4;
    height: 500px;
    margin: 20px 10px;
    border-radius: 3%;
    padding: 20px;
    
}
.card span:first-child {
    background-color: rgb(46, 119, 208);
    padding: 5px;
    color: white; 
    border-radius: 5px;
    width: 70%;
    text-align: center;
}
.pay-span {
    border: 3px solid #1C6EA4;
    padding: 3px;
}
.block {
    display:flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}



