* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

main {
    background-color: #efefef;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
.container-cards {
    display: flex;
    justify-content: center;
} 
.card {
    border: 1px solid #1C6EA4;
    margin: 20px 10px;
    border-radius: 3%;
    padding: 20px;
    background-color: white;
}
.block > ul > li {
    margin: 20px 0;
}
.card span:first-child {
    background-color: rgb(46, 119, 208);
    padding: 5px;
    color: white; 
    border-radius: 5px;    
    text-align: center;
}
/*.block {
    display:flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}*/
.pay-span {
    border: 3px solid #1C6EA4;
    padding: 5px;
}
ul {
    list-style-type: none;
}
ul > .inline {
    display: flex; 
    align-items:center;  
     
}
img {
    background-size: cover;
    width: 25px;
    height: 25px;
}
.button-aling{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
button {
    padding: 15px;
}
hr {
 
}




